header {
  background-color: red;
  height: 54px
}

header h1 {
  float: left;
  color: white
}

header button {
  color: white;
  background-color: red;
  float: right;
  border: none
}

nav {
  height: 35px;
  background-color: grey;
}

nav button {
  height: 35px;
  background-color: grey;
  float: right;
  color: white;
  padding: 10px;
  border: none
}

.main img {
  width: 1000px;
}

.main h1 {
  color: black
}

.words {
  float: left
}

.landmarks {
  float: right
}

.landmarks h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.landmarks-pics img {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 200px;
  float: right
}

.footer {
  height: 45px;
  background: grey;
  align: bottom
}

.footer h1 {
  float: right;
  color: white
}
