
header {
  background-color: red;
  height: 54px
}

header h1 {
  float: left;
  color: white;
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  font: helvetica

}

header button {
  color: white;
  background-color: red;
  float: right;
  border: none;
  margin: 10px;
  font-size: 16px;
  font: helvetica
}

nav {
  height: 35px;
  background-color: grey;
}

nav button {
  height: 35px;
  background-color: grey;
  float: right;
  color: white;
  padding: 10px;
  font-size: 16px;
  margin: auto;
  border: none;
  font: helvetica
}

.main img {
  padding: 30px;
  width: 1000px;
}

.main h1 {
  color: black;
  font-size: 18px;
  margin: 8px;
  font: helvetica

}

.words {
  float: left;
  margin-left: 5px;
  font: helvetica
}

.landmarks {
  position: absolute;
  right: 25px;
  top: 75px
}

.landmarks img {
  width: 275px;
}
